// $n:10; /* number of images*/

// .gallery  {
//   --d: 10s; /* duration */
  
//   display: grid;
//   overflow: hidden;
//   width: 780px;
//   -webkit-mask: linear-gradient(90deg,#0000,#000 10% 90%,#0000);
// }
// .gallery > .img {
//   grid-area: 1/1;
//   width: 100%;
//   aspect-ratio: 1.5;
//   object-fit: cover;
//   animation: r var(--d) linear infinite;
// }
// @for $i from 2 to ($n + 1) {
//   .gallery > img:nth-child(#{$i}) {animation-delay: calc(#{(1 - $i)/$n}*var(--d))}
// }
// @keyframes r {
//   #{100*($n - 1)/$n}% {transform: translate((1 - $n)*100%)}
//   #{100*($n - 1)/$n + .01}% {transform: translate(100%)}
// }


// .slider {
//   margin: 0;
//   min-height: 5vh;
//   display: grid;
//   place-content: center;
//   // background: #ECD078;
// }

// .image-item {
//   padding: 10px;
// }
// .container-with-dots {
//   margin-top: 20px;
//   padding-bottom: 10px;
// }
// #__next {
//   overflow: scroll;
//   margin-bottom: 40px;
// }

// .scroll-container {
//       height: 400px;
//       overflow-y: scroll;
//     }


// .slider-container {
// width: 100%;
// overflow: hidden;
// }
// .slider-wrapper {
// display: flex;
// transition: transform 0.3s ease-in-out;
// }
// .slider-slide {
// flex-shrink: 0;
// width: 100%;
// }

// .innerImages{
//    width: 50%;
//     height: 90%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: center;
// }

// .container {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }
// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     max-width: 1300px;
//   }
// }



.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

 .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @media (max-width: 800px) {
  .carouselContainer {
    display: none !important;
  }
}

.carousel .slide {
    min-width: 100%;
    margin-top: 25px !important;
    position: relative;
    text-align: center;
    margin-bottom: 25px !important;
    margin-left: 20px !important;
}